[bed_mesh]
speed: 200
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.

mesh_min: 0, 0

mesh_max: 158, 196

probe_count: 9, 9
# probe_count: 3, 3

algorithm: bicubic 
